:root {
    --light-beige: #F5EFDB;
    --sandy-gold: #DCCA87;
    --light-gray: #AAAAAA;
    --white: #FAFAFA;
    --charcoal: #0C0C0C;
    --transparent-gold: #DCCA8733;
    --medium-gray: #ABABAB;
    --dark-brown: #0C0B08;
    --dark-gray: #272727;
    --bg:#0b0b0b;
--gold:#dcca87;
--muted:#aaaaaa;
--white:#ffffff;
}